{% extends 'myapp/base_admin.html' %}
{% block content %}
<h2 class="text-xl font-bold mb-4">Leave Reports</h2>
<ul class="list-disc ml-6">
    <li><a href="{% url 'list_users' 'manager' %}" class="text-blue-600 hover:underline">Managers</a></li>
    <li><a href="{% url 'list_users' 'employee' %}" class="text-blue-600 hover:underline">Employees</a></li>
</ul>

<h2 class="text-xl font-bold mb-4 mt-4">Spark Finch Unjustified Employees</h2>

<form method="get" action="">
    <label for="date" class="font-semibold">Select Date:</label>
    <input type="date" id="date" name="date" class="border p-2 rounded" value="{{ selected_date }}">
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded ml-2">Fetch</button>
</form>

{% if selected_date %}

        <p class="mb-2 mt-2">
            Total Employees: <b>{{ total_employees }}</b>
        </p>

    <ul class="list-disc ml-6 mt-4">
        {% for email in users_from_api %}
            <li>{{ email }}</li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>

    <div class="mt-4 flex gap-2">
        {% if has_previous %}
            <a href="?date={{ selected_date }}&page={{ pagination.previous_page }}"
               class="px-3 py-1 bg-gray-300 rounded">Previous</a>
        {% endif %}

        {% if has_more %}
            <a href="?date={{ selected_date }}&page={{ pagination.next_page }}"
               class="px-3 py-1 bg-blue-500 text-white rounded">Next</a>
        {% endif %}
    </div>
{% else %}
    <p>Select a date from the calendar to view reports.</p>
{% endif %}

{% endblock %}

